@page "/Confirmation/ThankYou/{submissionId}"

@using ElancoLibrary.Models
@using ElancoLibrary.Services
@using ElancoLibrary.Data
@using ElancoLibrary.Models.Offers
@using ElancoLibrary.Models.Products
@using ElancoLibrary.Models.Brands

@using ElancoUI.Components
@using ElancoUI.Helpers
@using ElancoUI.Models.DbContextModels
@using ElancoUI.Data

<!-- Microsoft -->
@inject ILogger<ThankYou> Logger

<!-- ElancoLibrary -->
@inject IRebateData RebateData
@inject IOfferData OfferData
@inject IAccountData AccountData

@if (string.IsNullOrEmpty(errorMessage) != true)
{
    <Modal Message="@errorMessage">
        <Icon>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-file-earmark-x" viewBox="0 0 16 16">
              <path d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"/>
              <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
            </svg>
        </Icon>
        <Action>
            <a href="/" class="full-primary-btn" @onclick="(() => errorMessage = null)">Home</a>
        </Action>
    </Modal>
}

<section class="main-section">
    <div class="main-container">
        <div class="confirmation-container">
            @if (form != null)
            {
                @if (form.HasAccessed == true)
                {
                    <div class="info-card">
                        <div class="info-card-details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                            </svg>
                            <a>Displaying submission information session has expired, a copy should have been sent to your registered email address.</a>
                        </div>
                    </div>
                    <div class="account-save">
                        <a href="/">Home</a>
                    </div>
                }
                else
                {
                    <div class="card">
                        <div class="card-details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                            </svg>
                            <h3>Submission summary</h3>
                            <a>A copy has been sent to @form.CustomerEmail</a>
                        </div>
                    </div>
                    <div class="confirmation-summary">
                        <p class="confirmation-summary-title">Submission ID: <span class="confirmation-summary-content">@form.Id</span></p>
                        <p class="confirmation-summary-title">Submission Date: <span class="confirmation-summary-content">@DateOnly.FromDateTime(form.DateSubmitted) @TimeOnly.FromDateTime(form.DateSubmitted)</span></p>
                        <p class="confirmation-summary-title">Submission Status: <span class="confirmation-summary-content">@form.RebateStatus</span></p>
                    </div>
                    <div class="confirmation-summary">
                        <div class="card" id="rebate-selected">
                            <div class="card-details-rebate">
                                <div class="rebate-info">
                                    <div class="rebate-images">
                                        @foreach (BrandModel brand in rebateOffer.Brands)
                                        {
                                            <img src="storage/brands/@(brand.ImageName).@(brand.ImageType)" alt="@brand.BrandName" />
                                        }
                                    </div>
                                    <div class="rebate-details">
                                        <div class="details-header">
                                            <h3>Offer Code: @rebateOffer.OfferCode</h3>
                                            <p class="confirmation-summary-title">Qty: @form.AmountPurchased</p>
                                        </div>
                                        <div class="details-purchased">
                                            <p>Purchase between:</p>
                                            <p>@DateOnly.FromDateTime(rebateOffer.ValidPurchaseStart) - @DateOnly.FromDateTime(rebateOffer.ValidPurchaseEnd)</p>
                                        </div>
                                        <table>
                                            <tr>
                                                <th>Offer Details</th>
                                                <th>Rebate Value</th>
                                            </tr>
                                            @foreach (OfferDetailsModel details in rebateOffer.Details)
                                            {
                                                <tr>
                                                    <td>@details.Amount</td>
                                                    <td>@details.Value.ToString("C")</td>
                                                </tr>
                                            }
                                        </table>
                                    </div>
                                </div>
                                <div class="rebate-extra"/>
                            </div>
                        </div>
                    </div>
                    <div class="confirmation-summary-details">
                        <div class="card">
                            <div class="confirmation-card">
                                <p class="confirmation-summary-title">Your address</p>
                                <div class="confirmation-summary-address">
                                    <p>@form.CustomerFirstName @form.CustomerLastName</p>
                                    <p>@form.CustomerAddressLine1</p>
                                    <p>@form.CustomerCity</p>
                                    <p>@form.CustomerState</p>
                                    <p>@form.CustomerZipCode</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="confirmation-card">
                                <p class="confirmation-summary-title">Clinic address</p>
                                <div class="confirmation-summary-address">
                                    <p>@form.ClinicAddressLine1</p>
                                    <p>@form.ClinicCity</p>
                                    <p>@form.ClinicState</p>
                                    <p>@form.ClinicZipCode</p>
                                    <p>Product purchased is for @form.PetName</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Loading...</p>
            }
        </div>
    </div>
</section>

@code {
    private string errorMessage;
    private OfferModel rebateOffer;
    private FormModel form;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    [Parameter]
    public string SubmissionId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var authState = await AuthenticationStateTask;
            var user = authState.User;

            if (user.Identity.IsAuthenticated)
            {
                Account account = AccountData.GetAccountDetailsByEmail(user.Identity.Name);

                form = await RebateData.GetSubmissionDetails(SubmissionId, account.User.Id);

                rebateOffer = await OfferData.GetOfferById(form.OfferId);
                await RebateData.UpdateUserAccess(form.Id);

                Logger.LogInformation("Displaying rebate submission details for User ID: {Id} at {Time}", form.UserId, DateTime.UtcNow);
            }
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }
}
