@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    string filePath = System.IO.Path.Combine("storage", "account_pets");
}

<form id="profile-form" method="post" class="account-contents">
    <h1>Profile</h1>
    <div class="account-cards">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Account.Id" type="hidden" />
        <input asp-for="Account.User.Id" type="hidden" />
        <div class="account-card">
            <h4>Personal</h4>
            <div class="account-card-field">
                <div class="form-field">
                    <label asp-for="Account.FirstName" class="form-label">First name</label>
                    <input asp-for="Account.FirstName" class="form-control" />
                </div>
                <div class="form-field">
                    <label asp-for="Account.LastName" class="form-label">Last name</label>
                    <input asp-for="Account.LastName" class="form-control" />
                </div>
                <div class="form-field">
                    <label asp-for="Username" class="form-label">Email</label>
                    <input asp-for="Username" class="form-control" disabled/>
                    <p>Want to change your email? <a asp-page="./Email">Click here</a></p>
                </div>
                <div class="form-field">
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber"></span>
                </div>
            </div>
        </div>
        <div class="account-card-address">
            <div class="account-card-header-address">
                <h4>Your addresses</h4>
                <a class="account-card-header-cta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <p>Add</p>
                </a>
            </div>
            <div class="account-addresses-container">
                @foreach (ElancoUI.Models.DbContextModels.Address address in Model.Account.Addresses)
                {
                    <div class="account-address">
                        <input type="hidden" asp-for="@address.Id" />
                        <div class="account-address-info">
                            <p>@address.AddressLine1</p>
                            <p>@address.City</p>
                            <p>@address.State</p>
                            <p>@address.ZipCode</p>
                        </div>
                        <div class="account-address-cta">
                            <a class="account-pet-details-cta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                <p>Edit</p>
                            </a>
                            <a class="account-pet-details-cta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                <p>Delete</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="account-card">
            <div class="account-card-header">
                <h4>Your pets</h4>
                <a class="account-card-header-cta" asp-area="Identity" asp-page="/Account/Manage/AddPet">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                    <p>Add</p>
                </a>
            </div>
            <div class="account-pets-container">
                @foreach (ElancoUI.Models.DbContextModels.Pet pet in Model.Account.Pets)
                {
                    string file = filePath + "\\" + pet.ImageName;

                    <div class="account-pet">
                        <input type="hidden" asp-for="@pet.Id" />
                        <img src="@file" width="140" height="120"/>
                        <div class="account-pet-details">
                            <h5>@pet.Name</h5>
                            <a class="account-pet-details-cta" asp-area="Identity" asp-page="/Account/Manage/EditPet" asp-route-id="@pet.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                </svg>
                                <p>Edit</p>
                            </a>
                            <a class="account-pet-details-cta">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                <p>Delete</p>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="account-save">
        <button>Cancel</button>
        <button id="update-profile-button" type="submit">Save changes</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
